<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <h1>Edit</h1>
    <meta charset="utf-8" />
    <a th:href="@{'/logout'}">Log out</a>
    <h2></h2>
</head>
<body>

<form th:action="@{/admin/edit}" th:object="${user}" method="post">
    <p><input type="hidden" th:field="*{id}" /></p>
    <p><label for="username">username</label></p>
    <p><input type="text" th:field="*{username}" id="username" name="username" required></p>
    <p><label for="password">password</label></p>
    <p><input type="text" id="password" name="password" required></p>
    <p><label for="age">age</label></p>
    <p><input type="number" th:field="*{age}" id="age" name="age" required></p>
    <p><label>-->
        <select class="custom-select" multiple id="roles2" name="roles2">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
        </select>
    </label>
    <p>
        <input type="submit" value="edit">
    </p>
</form>
</body>
</html>