<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <a th:href="@{'/logout'}">Log out</a>
    <h2></h2>
</head>
<body>
<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <!--        <th>PASSWORD</th>-->
        <th>AGE</th>
        <th>ROLE</th>

    </tr>
    <tr th:object="${user}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <!--        <td th:text="${user.password}"></td>-->
        <td th:text="${user.age}"></td>
        <td th:text="${user.roles}">
        </td>
    </tr>
</table>
</body>
</html>